<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form Example</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>
    <script src="script.js"></script>
</head>
<body ng-app="formExample">
    <div ng-controller="FormController">
        <form novalidate class="css-form">
            Name: <input type="text" ng-model="user.name" /><br />
            E-mail: <input type="email" ng-model="user.email"/><br />
            Gender: <input type="radio" ng-model="user.gender" value="male"/> male
            <input type="radio" mg-model="user.gender" value="female"/> female <br />
            <input type="button" ng-click="reset()" value="Reset" />
            <input type="submit" ng-click="update(user)" value="Save"/>
        </form>
        <pre>form = {{user | json}}</pre>
        <pre>master = {{master | json}}</pre>
    </div>
</body>
<style type="text/css">
    .css-form input.ng-invalid.ng-touched {
        background-color: #fa787e;
    }

    .css-form input.ng-valid.ng-touched {
        background-color: #78fa89;
    }
</style>
</html>